{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {{ form_start(PlaceForm) }}
                {{ form_row(PlaceForm.File) }}

                <button type="submit" class="btn btn-primary">send</button>
             {{ form_end(PlaceForm) }}
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}